@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700&display=swap");
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #111;
  background-color: #3c3838;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  text-align: center;
  font-size: 25px;
  overflow: hidden;
}
#header h1 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ccc ,2px 2px 0px #ccc ,3px 3px 0px #ccc ,4px 4px 0px #ccc ,5px 5px 0px #ccc ,6px 6px 0px #ccc ,7px 7px 0px #ccc ,8px 8px 0px #ccc ,9px 9px 0px #ccc ,10px 10px 0px #ccc ,11px 11px 0px #ccc ,12px 12px 0px #ccc ,13px 13px 0px #ccc ,14px 14px 0px #ccc ,15px 15px 0px #ccc ,16px 16px 0px #ccc ,17px 17px 0px #ccc ,18px 18px 0px #ccc ,19px 19px 0px #ccc ,20px 20px 0px #ccc ,21px 21px 0px #ccc ,22px 22px 0px #ccc ,23px 23px 0px #ccc ,24px 24px 0px #ccc ,25px 25px 0px #ccc ,26px 26px 0px #ccc ,27px 27px 0px #ccc ,28px 28px 0px #ccc ,29px 29px 0px #ccc ,30px 30px 0px #ccc ,31px 31px 0px #ccc ,32px 32px 0px #ccc ,33px 33px 0px #ccc ,34px 34px 0px #ccc ,35px 35px 0px #ccc ,36px 36px 0px #ccc ,37px 37px 0px #ccc ,38px 38px 0px #ccc ,39px 39px 0px #ccc ,40px 40px 0px #ccc ,41px 41px 0px #ccc ,42px 42px 0px #ccc ,43px 43px 0px #ccc ,44px 44px 0px #ccc ,45px 45px 0px #ccc ,46px 46px 0px #ccc ,47px 47px 0px #ccc ,48px 48px 0px #ccc ,50px 50px 0px #ccc;
}

#menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#menu ul {
  display: flex;
}
#menu ul li {
  margin-left: 10px;
}
#menu ul li a {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}
#menu ul li a.day {
  background-color: rgb(230, 155, 155);
}
#menu ul li a.voca {
  background-color: rgb(88, 96, 255);
}

#footer {
  display: flex;
  justify-content: center;
}
#footer p {
  padding: 15px 30px;
  background-color: #fff;
  font-weight: 300;
  border-radius: 100px;
  margin-top: 100px;
  text-transform: uppercase;
}
#footer p strong {
  font-weight: 700;
}

.container {
  width: 1200px;
  margin: 100px auto;
  color: #fff;
}
.container .title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.dayBox .current {
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 50px;
}
.dayBox .current strong {
  font-weight: 900;
  position: relative;
  padding-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
}
.dayBox .current strong:before {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 14px;
  height: 10px;
  background-color: rgb(88, 96, 255);
  border-radius: 100px;
  z-index: -1;
  opacity: 0.7;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btns .btn {
  border: none;
  outline: none;
  padding: 20px 40px;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgb(45, 194, 45);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.days {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.days li {
  margin: 5px;
}
.days li a {
  display: flex;
  width: 120px;
  height: 50px;
  background-color: rgb(88, 96, 255);
  color: #fff;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100px;
}

.vocas {
  display: flex;
  flex-direction: column;
}
.vocas li {
  background-color: #fff;
  height: 65px;
  margin: 10px 0;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  color: #111;
  position: relative;
  transition: background-color 0.25s ease;
}
.vocas li.done {
  background-color: #666;
}
.vocas li.done .word {
  opacity: 0.5;
}
.vocas li.done .btns {
  opacity: 0.5;
  pointer-events: none;
}
.vocas li .eng {
  margin-left: 20px;
  transition: all 0.25s ease;
}
.vocas li .kor {
  margin-left: 20px;
}
.vocas li .word {
  transition: all 0.25s ease;
}
.vocas li .btns {
  position: absolute;
  margin-top: 0;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.vocas li .btns .btn {
  padding: 10px 20px;
}
.vocas li .btns .del {
  margin-left: 10px;
  background-color: rgb(230, 155, 155);
}

@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}